@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #a3bad2;
    font-family: "Roboto", serif;
    color: #112236;
}
.container {
    width: 100%;
    margin: 0;
}

/*Cabecera*/
.header {
    height: 70px;
    background-color: #112236;
    
}
.title {
    width: 350px;
    margin: 0px auto;
    font-weight: 700;
    font-style: normal;
}
.title h1 {
    margin: 0;
    padding-top: 15px;
    color: #ffffff;
    float: left;
}
.menu-button {
    float: right;
    margin-top: 10px;
    display: none;
}
.button-login {
    float: left;
    width: 30px;
    margin-top: 20px;
    margin-left: 30px;
}
.img-login, .img-loged {
    width: 30px;
    height: 30px;
}

.contact-info {
    position: relative;
}

/*Productos*/
.content {
    max-width: 1780px;
    margin: 0 auto;
}
.content::after {
    content: "";
    clear: both;
    display: block;
    
}
.article {
    width: 420px;
    height: 450px;
    background-color: #dbe4ed;
    border-style: solid;
    border-radius: 10px;
    border-color: #112236;
    border-width: 2px;
    margin: 15px 7px;
    float: left;
}
.article .image{
    width: 400px;
    height: 280px;
    background-color: #a3bad2;
    margin: 10px auto;
}
.article .image img {
    width: 400px;
    height: 280px;
}
.ropa {
    height: 670px;
}
.ropa .image {
    height: 500px;
}
.ropa .image img {
    height: 500px;
}
.article .description {
    text-align: center;
    color: #112236;
}
.article .description h3 {
    font-size: 1.4em;
    margin: 5px 0;
}
.article .description .text {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.price {
    font-size: 2em;
    text-align: right;
}
.button-editar, .button-info {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 10px;
}
.button-editar .img-editar, .button-info .img-info {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Menu */
.container-nav-var {
    font-weight: 700;
}
.menu {
    max-width: 630px;
    margin: 20px auto;
}
.item-menu {
    float: left;
    background-color: #436280;
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #112236;
    border-width: 1px;
    
}
.item-menu a {
    text-decoration: none;
    color: #dbe4ed;
    display: block;
    padding: 5px 10px;
}
.item-menu:hover {
    background-color: #a3bad2;
    color: #112236 !important;
    -webkit-box-shadow: -3px 5px 3px 0px rgba(17,34,54,0.71);
    -moz-box-shadow: -3px 5px 3px 0px rgba(17,34,54,0.71);
    box-shadow: -3px 5px 3px 0px rgba(17,34,54,0.71);
}
.item-menu a:active, .item-menu a:hover {
    color: #112236;
}
.clear {
    clear: both;
}
.active {
    background-color: #a3bad2;
    color: #112236 !important;
    -webkit-box-shadow: -3px 5px 3px 0px rgba(17,34,54,0.71);
    -moz-box-shadow: -3px 5px 3px 0px rgba(17,34,54,0.71);
    box-shadow: -3px 5px 3px 0px rgba(17,34,54,0.71);
}
.active a {
    color: #112236;
}

/*Filtro*/
.container-nav-filter {
    max-width: 680px;
    width: max-content;
    background-color: #dbe4ed;
    margin: 0 auto;
    padding: 10px 50px;
}
#filtrar, .edit-submit {
    background-color: #436280;
    border-color: #112236;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    color: #dbe4ed;
    margin-left: 30px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
}
.label-checkbox {
    margin-right: 15px;
}
.filter-title {
    font-weight: 700;
}

/* Login */
.login-container {
    background-color: #dbe4ed;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border-color: #112236;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    left: 42%;
    z-index: 50;
    transition: width 2s;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
.login-container h2 {
    margin-bottom: 20px;
}
.inputs {
    margin-top: 10px;
    padding-bottom: 10px;
}
.inputs input {
    text-align: center;
}
.inputs #filtrar {
    margin: 0;
}
.error {
    font-size: 0.8em;
    padding: 0 10px;
    color: #b60808;
}

/* Menu User*/
.menu-user-container {
    width: 300px;
    position: absolute;
    top: 70px;
    left: 45%;
    transition: width 2s;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
.button-menu-user {
    text-align: center;
    font-weight: 700;
    padding: 10px;
    border-style: solid;
    border-color: #112236;
    border-width: 1px;
}
.menu-user-container a, .menu-user-container a:active {
    display: block;
    background-color: #436280;
    text-decoration: none;
    color: #dbe4ed;
}
.menu-user-container a:hover {
    text-decoration: none;
    color:#112236;
    background-color:#a3bad2;
}

/*Footer*/
.footer, .contact-info {
    margin: 15px auto;
    text-align: center;
    font-weight: 700;
}

/* Informe ventas */
.container-paid, .container-liquidated, .container-non-liquidated, .container-pedro-commission {
    background-color: #dbe4ed;
    border-color: #112236;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 45%;
    padding: 0 20px 10px;
    float: left;
    margin: 5px 10px;
}
.row-product:hover {
    background-color: #a3bad2;
}
.titulo:hover {
    background-color: #dbe4ed;
}
.container-paid h3, .container-liquidated h3, .container-non-liquidated h3 {
    margin: 10px 30px;
}
.title-content {
    text-align: left;
    padding-left: 50px;
}
.row-product {
    clear: both;
    height: 20px;
    padding: 5px 0;
    border-bottom: 1px solid #436280;
}
.row-product .products{
    float: left;
}
.product-id {
    width: 10%;
}
.product-name {
    width: 50%;
}
.product-price {
    width: 10%;
}
.product-size {
    width: 10%;
}
.total-vendido, .commission, .total-commission {
    width: 30%;
}

.negrita {
    font-weight: 700;
}

/* Info productos vendidos */
.container-info-product {
    width: 300px;
    height: 220px;
    position: fixed;
    left: 40%;
    top: 100px;
    display: none;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}
.container-info {
    padding: 50px 30px 0;
}
.info-product {
    padding: 10px;
    border-bottom-style: solid;
    border-width: 1px;
}

/* Editar productos */
.container-edit-product {
    width: 600px;
    height: 370px;
    position: fixed;
    left: 30%;
    top: 100px;
    display: none;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}
.iframe-edit, .iframe-info {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}
.container-edit {
    max-width: 400px;
    margin: 0 auto;
}
.campo-edit {
    margin: 10px 0px;
}
.span-input-text {
    display: inline-block;
    width: 80px;
    height: 20px;
}
.span-checkbox {
    display: inline-block;
    width: 200px;
    height: 20px;
}
.input-nombre {
    width: 300px;
}
.buton-edit {
    text-align: center;
    margin-top: 30px;
}
.img-cerrar, .img-cerrar-info {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
}

/* Botón SI/NO CSS externo */
:root {
    --color-green: #00aa2b;
    --color-red: #b60808;
    --color-button: #dbe4ed;
    --color-black: #112236;
}
.switch-button {
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 40px;
    height: 20px;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(15px);
}
.show {
    display: block;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1780px) {
    .content {
        max-width: 1315px;
    }
}

@media screen and (max-width: 1315px) {
    .content {
        max-width: 878px;
    }

    /* HEADER */
    .menu-button {
        display: block;
    }
    .contact-info {
        position: absolute;
        width: 100%;
    }

    /* MENÚ */
    .container-nav-var {
        position: relative;
        z-index: 22;
    }
    .menu {
        width: 400px;
        text-align: center;
        margin: 0 auto;
        margin-left: 40%;
        position: absolute;
        transition: width 2s;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.1s linear;
    } 
    .item-menu {
        float: none;
        margin: 0;
        border-radius: 0;
        font-size: 20px;
    }
    .item-menu:hover {
        -webkit-box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.71);
        -moz-box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.71);
        box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.71);
    }
    .active {
        -webkit-box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.91);
        -moz-box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.91);
        box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.91);
    }
    .show {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    
    /* Informe ventas */
    .container-paid, .container-liquidated, .container-non-liquidated {
        width: 90%;
        padding: 0 20px 10px;
        float: none;
    }

    /* FILTRO */
    .container-nav-filter {
        margin-top: 60px;
        max-width: 700px;
        padding: 10px 50px;
        font-size: 20px;
        text-align: center;
    }
    #filtrar {
        margin-left: 0;
        margin-top: 20px;
    }
    /* Editar productos */
    .container-edit-product {
        width: 600px;
        height: 370px;
        position: fixed;
        left: 20%;
        top: 100px;
    }
}

@media screen and (max-width: 878px) {
    /* PRODUCTOS */
    .content {
        max-width: 439px;
    }
    .article {
        width: 100%;
        margin: 15px 0px;
        float: none;
        height: max-content;
    }
    .article .image{
        width: 95%;
        background-color: #a3bad2;
        margin: 10px auto;
    }
    .article .image img {
        width: 100%;
    }

    /* MENU */
    .menu {
        width: 100%;
        max-width: none;
        margin: 0 auto;
        margin-left: none;
        position: absolute;
        text-align: center;
        transition: width 2s;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.1s linear;
    }
    .item-menu:hover {
        -webkit-box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.71);
        -moz-box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.71);
        box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.71);
    }
    .active {
        -webkit-box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.91);
        -moz-box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.91);
        box-shadow: inset 7px 10px 11px -10px rgba(17,34,54,0.91);
    }
    .show {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    /* FILTRO */
    .container-nav-filter {
        width: 100%;
        max-width: 293px;
        z-index: 1;
        padding: 20px;
    }
    .menu-filter {
        width: 100%;
        position: relative;
    }
    #filtrar {
        margin-top: 10px;
    }

    /* Menu User */
    .menu-user-container {
        width: 100%;
        left: 0;
    }
    /* Editar productos */
    .container-edit-product {
        width: 100%;
        height: 370px;
        position: relative;
        left: 0%;
        top: 0px;
    }
}